body{
    background-image: url(sunsetplane.jpg);
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    font-family: 'Steelfish Rg', 'helvetica neue',
                helvetica, arial, sans-serif;
    font-weight: 800;
}

.btn{
    background-color: orange;
}
