* {
    padding: 0px;
    margin: 0px;
}

#pinkbox {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #F5C6D6;
}

#purplebox1 {
    display: inline-block;
    position: absolute;
    top: 110px;
    height: 100px;
    width: 250px;
    background-color: #EE2E84;
}

#purplebox2 {
    display: inline-block;
    position: absolute;
    top: 110px;
    height: 100px;
    left: 300px;
    width: 250px;
    background-color: #EE2E84;
}

#purplebox3 {
    display: inline-block;
    position: absolute;
    top: 110px;
    height: 100px;
    left: 700px;
    width: 250px;
    background-color: #EE2E84;
}

#purplebox4 {
    display: inline-block;
    position: absolute;
    top: 110px;
    height: 100px;
    left: 1000px;
    width: 250px;
    background-color: #EE2E84;
}

#bluebox1 {
    display: inline-block;
    position: absolute;
    top: 220px;
    height: 100px;
    width: 500px;
    background-color: #85CFD8;
}

#bluebox2 {
    display: inline-block;
    position: absolute;
    top: 220px;
    height: 100px;
    left: 800px;
    width: 500px;
    background-color: #85CFD8;
}

#greenbox {
    display: inline-block;
    position: absolute;
    top: 330px;
    height: 100px;
    width: 80%;
    background-color: #8DC63F;
}

#orangebox {
    display: inline-block;
    position: absolute;
    top: 330px;
    height: 100px;
    left: 1170px;
    width: 500px;
    background-color: #E76E34;
}